@import "tailwindcss";

@theme {
  --color-primary: #004269;
  --color-secondary: #7c5800;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f3f3;
  --color-on-surface-variant: #41474f;
  --color-on-surface: #1a1c1c;
  --color-background: #f9f9f9;

  --font-h1: "Public Sans", sans-serif;
  --font-h2: "Public Sans", sans-serif;
  --font-h3: "Public Sans", sans-serif;
  --font-body-lg: "Public Sans", sans-serif;
  --font-body-md: "Public Sans", sans-serif;
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
